<nz-card>
  <h1>66th International Divers’ Day Rostock</h1>
  <h2>Germany, Rostock 18 - 21 Jan 2024</h2>
  <p style="font-size: larger">
    The third Diving Recognised Event heads to the northern German maritime port
    of Rostock, a city that has already hosted 25 World Aquatics competitions,
    including 24 Diving Grand Prix events. If you would like to know more about
    this event, check out this
    <a
      href="https://www.worldaquatics.com/news/3562838/hosts-confirmed-for-upcoming-world-aquatics-diving-recognised-events"
      >article</a
    >.
  </p>
</nz-card>
